{% extends 'pages/base.html' %}
{% load static %}
{% block title %}Crear página{% endblock %}
{% block background %}{% load static %}{% static 'pages/img/studies-bg.jpg' %}{% endblock %}
{% block content %}
{% load static %}
<!-- El loader lo hemos obtenido de 3wschoo ya que el propio de bootstrap no fucionaba
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader
El resto de estilos permiten mostrar el mensaje mientras se procesan los datos y se genera el report
-->
<style>
.loader {
  border: 16px solid #f8e9e9;
  border-radius: 50%;
  border-top: 16px solid #db3445;
  position:fixed !important;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.oculto{
  display:none !important;
}
.centered {
    left: 50%;
    color:darkred;
  }
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<link href="{% static 'pages/css/custom_ckeditor.css' %}" rel="stylesheet">
<main role="main">
  <div class="container">
    <div id="cargando" class="row mt-3 mb-5 oculto">
      <div  class="d-flex align-items-center" > <!-- -->
        <h1 class="display-1 text-center">Generando su reporte, no cierre la pestaña...</h1>
        
      </div>
    </div >
    <div id="loader" class="row mt-3 mb-5 oculto text-centere">
      <div class="col-md-5 mx-auto">
      </div>
      <div  class="col-md-4 d-flex align-items-center" > <!-- -->
            <img src="{% static 'pages/img/loading.gif' %}" class="img-fluid text-centered centered" alt="Generando su reporte, espere por favor" >
     </div>
     <div class="col-md-3 mx-auto">
      </div>
    </div >
    
      
        
      
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        <div>
            <form id="form-estudio" action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                <div class="text-center">
                    <input type="submit" id="boton" class="btn btn-primary btn-block" value="Crear el estudio" onclick="loadingFunction()"/>
                </div>
                <div>
                <p class="text-muted">
                  Si la Fintech a analizar coincide con una palabra que tenga otro significado el resultado del estudio se puede ver afectado. </br>Lo sentimos mucho.
                </p>
                </div>
            </form>
            <script>
                  function loadingFunction() {
                      if ($('#form-estudio').is(':invalid') != 0) {
                        //there are invalid inputs
                      }
                      else{
                      document.getElementById("boton").value = "Creando el estudio";
                      document.getElementById("loader").classList.remove("oculto");
                      document.getElementById("cargando").classList.remove("oculto");
                      document.getElementById("form-estudio").classList.add("oculto");
                      }
                  }
            </script>
        </div>
      </div>
    </div>
  </div>
  
</main>
{% endblock %}