{% extends 'pages/base.html' %}
{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<link href="{% static 'blog/css/custom_ckeditor.css' %}" rel="stylesheet">
{% block background %}{% load static %}{% static 'blog/img/blog-bg.jpg' %}{% endblock %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4">{{post.title}}</h2>
        {% if post.image %}
          <div>
            <img src="{{post.image.url}}." class="img-fluid" alt="Responsive image">
          </div>
        {% endif %}
        <div>
          {{post.content|safe}}
          {% if request.user.is_staff %}
            <p><a href="{% url 'posts:update' post.id %}">Editar</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
