{% extends 'pages/base.html' %}
{% block title %}About{% endblock %}

{% block background %}{% load static %}{% static 'pages/img/about-bg.jpg' %}{% endblock %}
<!--Photo by fauxels from Pexels-->
{% block headers %}
<h1>Nuestro equipo</h1>
<span class="subheading">Grupo 3 de la clase 200524434_020</span>
{% endblock %}


{% block content %}

<!-- Section: Team v.3 obtenido de: https://mdbootstrap.com/docs/b4/jquery/sections/team/-->
<section class="team-section my-5">
  <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'pages/img/avatar.jpg' %}" class="rounded z-depth-1 img-fluid"
          alt="Sample avatar">
      </div>
      <div class="mx-5">
        <h4 class="font-weight-bold mb-3">Xabier Arruabarrena Arzuaga</h4>
        <h6 class="font-weight-bold grey-text mb-3">Web Designer</h6>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
          tenetur.</p>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic" href="#">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--LinkedIn-->
        <a class="p-2 fa-lg linkedin-ic" href="#">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Git Hub-->
        <a class="p-2 fa-lg github-ic" href="#">
          <i class="fa fa-github"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic" href="#">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'pages/img/carlos.jpg' %}" class="rounded z-depth-1 img-fluid" alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Carlos Agustín Diez Sánchez-Muliterno</h4>
        <h6 class="font-weight-bold grey-text mb-3">Photographer</h6>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
          tenetur.</p>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic" href="https://twitter.com/Carlos10SM_">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--LinkedIn-->
        <a class="p-2 fa-lg linkedin-ic" href="https://www.linkedin.com/in/carlosdiezsm/">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Git Hub-->
        <a class="p-2 fa-lg github-ic" href="https://github.com/Carlos10muliterno">
          <i class="fa fa-github"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic" href="mailto:carlos10muliterno@gmail.com">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->

  <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'pages/img/avatar.jpg' %}" class="rounded z-depth-1 img-fluid"
          alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Lucia Fernandez Revuelta</h4>
        <h6 class="font-weight-bold grey-text mb-3">Front-end Developer</h6>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
          tenetur.</p>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic" href="#">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--LinkedIn-->
        <a class="p-2 fa-lg linkedin-ic" href="#">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Git Hub-->
        <a class="p-2 fa-lg github-ic" href="#">
          <i class="fa fa-github"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic" href="#">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'pages/img/avatar.jpg' %}" class="rounded z-depth-1 img-fluid"
          alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Ignacio Lopez Lopez</h4>
        <h6 class="font-weight-bold grey-text mb-3">Front-end Developer</h6>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
          tenetur.</p>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic" href="#">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--LinkedIn-->
        <a class="p-2 fa-lg linkedin-ic" href="#">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Git Hub-->
        <a class="p-2 fa-lg github-ic" href="#">
          <i class="fa fa-github"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic" href="#">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->
<!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'pages/img/avatar.jpg' %}" class="rounded z-depth-1 img-fluid"
          alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Carmen Muñoz Gonzalez</h4>
        <h6 class="font-weight-bold grey-text mb-3">Front-end Developer</h6>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
          tenetur.</p>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic" href="#">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--LinkedIn-->
        <a class="p-2 fa-lg linkedin-ic" href="#">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Git Hub-->
        <a class="p-2 fa-lg github-ic" href="#">
          <i class="fa fa-github"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic" href="#">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row-->
</section>
<!-- Section: Team v.3 -->
{% endblock %}