{% extends 'pages/base.html' %}
{% block title %}About{% endblock %}

{% block background %}{% load static %}{% static 'pages/img/about-bg.jpg' %}{% endblock %}
<!--Photo by fauxels from Pexels-->
{% block headers %}
<h1>Nuestro equipo</h1>
<span class="subheading">Grupo 3 de la clase 200524434_020</span>
{% endblock %}


{% block content %}

<!-- Section: Team v.3 obtenido de: https://mdbootstrap.com/docs/b4/jquery/sections/team/-->
<section class="team-section my-5">
  <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-12 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'pages/img/xabi.jpg' %}" class="rounded z-depth-1 img-fluid"
          alt="Xabier Arruabarrena">
      </div>
      <div class="mx-5">
        <h4 class="font-weight-bold mb-3">Xabier Arruabarrena Arzuaga</h4>
        <h6 class="font-weight-bold grey-text mb-3">Equipo de científicos de datos</h6>
        <p class="grey-text">Me llamo Xabier Arruabarrena y soy graduado Ingeniera Sistemas de Telecomunicación en la Universidad de Navarra. Mi función dentro del equipo es el desarrollo del algoritmo de captura y tratamiento de los datos para generar los estudios. </p>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic" href="#" target="_blank">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--LinkedIn-->
        <a class="p-2 fa-lg linkedin-ic" href="https://www.linkedin.com/in/xabier-arruabarrena/" target="_blank">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Git Hub-->
        <a class="p-2 fa-lg github-ic" href="#" target="_blank">
          <i class="fa fa-github"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic" href="#" target="_blank">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->
    </div>
    <div class="row text-center text-md-left">
    <!-- Grid column -->
    <div class="col-xl-12 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'pages/img/carlos.jpg' %}" class="rounded z-depth-1 img-fluid"
          alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Carlos Agustín Diez Sánchez-Muliterno</h4>
        <h6 class="font-weight-bold grey-text mb-3">Equipo de ingenieros informáticos para programar el algoritmo</h6>
        <p class="grey-text">
          Me llamo Carlos Diez y soy graduado en Ingeniería Informática con especialidad en robótica en la Universidad Francisco de Vitoria.
          Mi función dentro del equipo es el desarrollo del Back end y Front end a la vez de integrar el algoritmo de procesado de datos en el Back end..</p>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic" href="https://twitter.com/Carlos10SM_" target="_blank">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--LinkedIn-->
        <a class="p-2 fa-lg linkedin-ic" href="https://www.linkedin.com/in/carlosdiezsm/" target="_blank">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Git Hub-->
        <a class="p-2 fa-lg github-ic" href="https://github.com/Carlos10muliterno" target="_blank">
          <i class="fa fa-github"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic" href="mailto:carlos10muliterno@gmail.com">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->
    </div>

    <div class="row text-center text-md-left">
    <!-- Grid column -->
    <div class="col-xl-12 col-lg-12 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'pages/img/lucia.jpeg' %}" class="rounded z-depth-1 img-fluid"
          alt="Lucia Fernandez Revuelta">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Lucia Fernandez Revuelta</h4>
        <h6 class="font-weight-bold grey-text mb-3">Equipo de marketing y ventas</h6>
        <p class="grey-text">Me llamo lucía Fernández y soy graduada Ingeniera Industrial en la Universidad Politécnica de Madrid. Mi función dentro del equipo es sales manager ocupando de las relaciones estratégicas y tácticas respecto a nuestros clientes. </p>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic" href="#" target="_blank" target="_blank">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--LinkedIn-->
        <a class="p-2 fa-lg linkedin-ic" href="https://www.linkedin.com/in/luc%C3%ADa-fern%C3%A1ndez-revuelta-0a552a171/" target="_blank">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Git Hub-->
        <a class="p-2 fa-lg github-ic" href="#" target="_blank" target="_blank">
          <i class="fa fa-github"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic" href="#" target="_blank">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->
    </div>
    <div class="row text-center text-md-left">
    <!-- Grid column -->
    <div class="col-xl-12 col-lg-12 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'pages/img/nacho.jpg' %}" class="rounded z-depth-1 img-fluid"
          alt="Ignacio Lopez">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Ignacio López López</h4>
        <h6 class="font-weight-bold grey-text mb-3">Equipo de abogados</h6>
        <p class="grey-text">Cras nisi neque, egestas at feugiat eu, faucibus nec ante. Aenean ultricies ultricies finibus. 
        Nam eu cursus orci. Nam gravida vitae ante eget interdum. Praesent aliquet ornare tellus, quis posuere libero dignissim ut. 
         </p>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic" href="#" target="_blank">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--LinkedIn-->
        <a class="p-2 fa-lg linkedin-ic" href="https://www.linkedin.com/in/ignacio-lopez-lopez/" target="_blank">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Git Hub-->
        <a class="p-2 fa-lg github-ic" href="#" target="_blank">
          <i class="fa fa-github"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic" href="#" target="_blank">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->
    </div>
    <div class="row text-center text-md-left">
    <!-- Grid column -->
    <div class="col-xl-12 col-lg-12 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'pages/img/carmen.jpeg' %}" class="rounded z-depth-1 img-fluid"
          alt="Carmen Muñoz">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Carmen Muñoz Gonzalez</h4>
        <h6 class="font-weight-bold grey-text mb-3">Equipo de ingenieros de organización para liderar los proyectos</h6>
        <p class="grey-text">
          Me llamo Carmen Muñoz y soy graduada en Ingeniería de Organización Industrial en la Universidad Politécnica de Madrid.
          Mi función dentro del equipo coordinar las distintas partes del producto e
          innovar en nuevos enfoques para el proyecto a la vez que me encargo del business plan de nuestra empresa.
        </p>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic" href="#" target="_blank">
          <i class="fa fa-twitter"> </i>
        </a>
        <!--LinkedIn-->
        <a class="p-2 fa-lg linkedin-ic" href="https://www.linkedin.com/in/carmen-mu%C3%B1oz-gonz%C3%A1lez-94838a16b/" target="_blank">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!--Git Hub-->
        <a class="p-2 fa-lg github-ic" href="#" target="_blank">
          <i class="fa fa-github"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic" href="#" target="_blank">
          <i class="fa fa-envelope"> </i>
        </a>
      </div>
    </div>
    </div>
    <!-- Grid column -->

</section>
<!-- Section: Team v.3 -->
{% endblock %}