{% extends 'pages/base.html' %}
{% block title %}Home{% endblock %}

{% block background %}{% load static %}{% static 'pages/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Fintechs Analyzer</h1>
<span class="subheading">Te ayudamos a obtener la opinion de los usuarios sobre las FINTECHS que más te importan</span>
{% endblock %}

{% block content %}
<h1>¿Qué es Fintechs Analyzer?</h1>
<p> 
El presente proyecto es una herramienta dirigida a diferentes compañías Fintech. El principal objetivo es el análisis de información que se puede encontrar en Twitter y en Google maps sobre la empresa.  Para ello, se han extraído las opiniones de ambas plataformas, se han procesado mediante un algoritmo de sentimiento programado en Python que calcula el valor del texto para después poder analizar el grado de satisfacción de los clientes. Finalmente la visualización de los resultados se ha recogido en una página web 100% responsive para el alcance de todos los usuarios en cualquier plataforma. En la página web se podrá visualizar los report realizados para las diferentes Finetech que han sido solicitadas. 
</p>
<h1>What is Fintechs Analyzer?</h1>
<p>
This project is a platform aimed at different Fintech companies. The main objective is the analysis of information that can be found on Twitter and Google maps about the company.To do this, opinions have been extracted from both platforms, processed using a sentiment algorithm programmed in Python that calculates the value of the text in order to be able to analyse the degree of customer satisfaction. Finally, the results have been displayed on a 100% responsive web page that can be accessed by all users on any platform. On the website you will be able to view the reports carried out for the different Finetech that have been requested.
</p>
{% endblock %}