{% extends 'pages/base.html' %}
{% block title %}Home{% endblock %}

{% block background %}{% load static %}{% static 'pages/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>NOMBRE DE LA WEB</h1>
<span class="subheading">Te ayudamos a obtener la opinion de los usuarios sobre las FINTECHS que más te importan</span>
{% endblock %}

{% block content %}
<h1>Contenido de la landing page</h1>
<p> 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque auctor purus, non faucibus felis tempor imperdiet. Integer ac vestibulum sapien. Proin nec molestie nibh. Sed at tortor sit amet nisi laoreet interdum. Aenean blandit facilisis velit, eu eleifend nibh posuere quis. Nunc pharetra, ligula vel consectetur volutpat, elit ligula varius sem, non dictum libero sem vitae lorem. Aenean ultricies elementum magna, sit amet semper dui efficitur in. Vivamus lacinia aliquet commodo. Cras eros nibh, accumsan a interdum vel, condimentum et lorem. Etiam in enim neque. Sed nec lacus ac erat egestas aliquam ac sed augue. Etiam ullamcorper augue et nulla sagittis, eget iaculis augue porta. Nulla luctus felis quis pulvinar eleifend. Quisque placerat tempus magna, ut mattis mi sagittis sit amet.

Aliquam nec porta lacus. Donec laoreet nisl mauris, a blandit ipsum bibendum nec. Praesent sem ex, venenatis sit amet pulvinar eu, elementum sit amet ipsum. Nulla lobortis feugiat nibh. Nunc cursus gravida neque, et efficitur enim ornare at. Nam sed risus ac ligula lacinia congue sit amet sit amet lectus. Suspendisse interdum diam et leo imperdiet finibus non eget tellus. Mauris tempus lacinia pellentesque. Pellentesque bibendum, massa ut vestibulum efficitur, diam arcu tincidunt est, vitae consequat ipsum nulla nec est. Nunc id interdum leo, sed viverra nisl. Sed commodo orci lorem, ac tristique nisi feugiat at. Fusce eu sollicitudin augue. Proin dapibus lobortis volutpat. Nulla non nibh et ligula auctor sagittis. Nunc vulputate imperdiet suscipit.
</p>
{% endblock %}